/* Reset some defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: powderblue;
    font-family: 'Gaegu', cursive;
    line-height: 1.6;
}

header {
    background: #333;
    padding: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    transform: translateY(-3px);
}

h1 {
    color: black;
    text-align: center;
    margin-top: 20px;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

ol {
    text-align: left;
    margin: 0 auto;
    max-width: 600px;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 16px;
    }
}
